.match {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex: 1;
  font-size: 14px;
  line-height: 22px;
  &Info {
    width: 15%;
    font-size: 12px;
    line-height: 20px;
    &Status {
      text-align: center;
    }
  }
  &Teams {
    padding-left: 20px;
    width: 65%;
  }
  &Scores {
    width: 5%;
    text-align: center;
    font-weight: 600;
    &Life {
      color: rgb(237, 28, 36);
    }
    &Regular{
      color: rgb(128, 128, 128);
    }
  }
  &Actions {
    width: 15%;
    text-align: right;
  }
  &Predicts {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}