@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;800&display=swap');
*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  line-height: 1.2;
  color: #201d1d;
}

body[data-theme=dark] {
  background-color: #18191e;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.site-page {
  padding: 40px 0;
}

.site-title {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 32px;
  line-height: 50px;
  margin-top: 30px;
}

strong {
  font-weight: 800;
}

.site-layout {
  padding: 0 50px;
  margin-top: 64px;

  .site-layout-background {
    background: #fff;
  }
}

[data-theme=dark] {
  .site-layout {
    .site-layout-background {
      background: #162c35;
    }
  }
}


.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 360ms ease-in-out;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
  z-index: 999;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}

.ReactModal__Overlay--after-open {
  background-color: rgba(0,0,0, 0.75) !important;
}

.ReactModal__Content--after-open {
  inset: unset !important;
  width: 33em;
  max-height: 95%;
  min-height: 13em;
  overflow: scroll;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
  border-radius: 0.5em !important;
  border: none !important;
  padding: 0 !important;
  overflow: unset !important;
}


@media screen and (max-width: 767px) {
  .ReactModal__Content--after-open {
    width: calc(100% - 30px);
  }
}