.group-date {
  text-align: center;
  font-weight: 800;
  font-size: 16px;
  margin-top: 30px;
}

.ant-form-inline {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  .form-item-separator {
    flex: 0 0 10%;
    max-width: 10%;
    text-align: center;
  }

  .ant-form-item {
    &.form-item {
      display: flex;
      flex: 0 0 45%;
      max-width: 45%;
      margin: 0;

      .ant-form-item-label {
        flex: 0 0 60%;
        max-width: 60%;
        text-align: left;

        > label {
          font-size: 16px;
          font-weight: 600;
        }
      }

      .ant-form-item-control {
        flex: 0 0 40%;
        max-width: 40%;

        input {
          text-align: center;
        }
      }

      &:last-child {
        .ant-form-item-label {
          order: 2;
          text-align: right;
        }

        .ant-form-item-control {
          order: 1;
        }
      }
    }
  }
}

.single-match {
  border-bottom: 1px solid #f1f1f1;
  padding: 10px 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color: #000;
  transition: all 0.5s ease 0s;

  &.updated {
    background-color: rgba(24, 144, 255, 0.15);
  }

  &:last-child {
    border-bottom: none;
  }

  &__score {
    width: 12%;
    flex-shrink: 0;
    text-align: center;

    &--data,
    &--live {
      background-color: #0a3e83;
      border-radius: 5px;
      margin: 0 10px;
      display: block;
      color: #fff;
      font-weight: 600;
      font-size: 14px;
      line-height: 25px;
    }

    &--live {
      background-color: #ed1c24;
    }

    &--scheduled {
      background-color: #a2a6ad;
    }
  }

  &__time {
    width: 10%;
    flex-shrink: 0;
    margin-right: 10px;
    text-align: center;
    font-size: 12px;
    line-height: 18px;
    color: #232323;
  }

  &__team {
    flex-shrink: 0;
    width: 30.3%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &--right {
      text-align: left;
    }

    &--left {
      text-align: right;
    }
  }

  &__mypredict {
    width: 6%;
    text-align: center;
    font-size: 12px;
  }

  &__predict {
    width: 10%;
    flex-shrink: 0;
    text-align: center;
  }
}

.single-match--details {
  .single-match__team {
    width: 35%;
  }

  .single-match__score {
    width: 15%;
  }

  .single-match__mypredict {
    width: 15%;
  }
}

.matches {
  &__row {
    display: flex;
    margin-left: -10px;
    margin-right: -10px;
  }

  &__col {
    width: 50%;
    flex-shrink: 0;
    padding: 0 10px;
  }
}

.site-widget {
  padding: 30px 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.11), 0 1px 1px rgba(0, 0, 0, 0.04);
  border-radius: 10px;

  &__title {
    text-align: center;
    font-size: 24px;
    font-weight: 800;
  }
}

.match-minute {
  color: #ed1c24;

  img {
    vertical-align: super;
  }
}

.result-table {
  border-collapse: collapse;
  width: 100%;
  color: #212529;
  border: 0;
  font-size: 14px;
  margin-top: 30px;

  th {
    font-weight: 800;
  }

  td,
  th {
    border: 1px solid #dee2e6;
    padding: 7px 10px;
    vertical-align: top;
  }
}

@media screen and (max-width: 768px) {
  .matches {
    &__row {
      flex-wrap: wrap;
    }

    &__col {
      width: 100%;
    }
  }

  .site-widget {
    &__title {
      font-size: 20px;
    }
  }

  .site-widget {
    margin-bottom: 30px;
  }

  .ant-btn-text {
    padding: 0 10px;
  }

  .single-match {
    &__team {
      width: 31%;
    }

    &__mypredict {
      display: none;
    }

    &__time {
      margin: 0;
      width: 14%;
    }

    &__score {
      &--data,
      &--score {
        margin: 0 5px;
      }
    }
  }

  .ant-card-body {
    padding: 24px 10px;
  }

  .ant-card-head {
    padding: 0 10px;
  }
}

@media screen and (max-width: 375px) {
  .single-match {
    &__mypredict {
      display: none;
    }

    &__time {
      width: 15%;
    }

    &__predict {
      width: 9%;
    }
  }
}
