.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.main {
    padding: 30px 15px;
    @media screen and (min-width: 768px) {
        padding: 30px;
    }
    flex: 1;
}
[data-theme=dark] {
    .main {
        background-color: #0e0f15;
    }
}
.title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
    @media screen and (min-width: 768px) {
        font-size: 35px;
        margin-bottom: 40px;
    }
}
[data-theme=dark] {
    .title {
        color: #e1e1e6;
    }
}

@media screen and (max-width: 767px) {
    [data-theme=dark] {
        .main {
            background-color: #18191e;
        }
    }
}