.row {
    display: flex;
    flex-wrap: wrap;
    @media screen and (min-width: 767px) {
        gap: 1rem;
    }
}
.col {
    flex: 1 1 100%;
    margin-bottom: 30px;
    &:last-child {
        margin-bottom: 0;
    }
    @media screen and (min-width: 767px) {
        flex: 1 1 calc((100% / 2) - 2rem);
    }
}
.list {
    padding-left: 20px;
    font-size: 14px;
    line-height: 24px;
    list-style: decimal;
    @media screen and (min-width: 768px) {
        font-size: 16px;
        line-height: 28px;
    }
}