.header {
  position: sticky;
  top: 0;
  background: linear-gradient(to right, #28374d, #3f4d67);
  padding: 0 10px;
  z-index: 999;
  @media screen and (min-width: 767px) {
    padding: 0 30px;
  }
  &Nav {
    display: flex;
    justify-content: space-between;
  }
}
.headerList,
.headerAdditionalList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  &Item {
    font-size: 14px;
    @media screen and (min-width: 767px) {
      font-size: 18px;
    }
    a {
      color: #e0e0e2;
      text-decoration: none;
      display: block;
      padding: 20px 10px;
      transition: all 0.3s ease 0s;
      @media screen and (min-width: 767px) {
        padding: 24px 20px;
      }
      &:hover {
        background-color: #3f4d67;
      }
    }
  }
}
[data-theme="dark"] {
  .header {
    background: #121319;
  }
  .headerList,
  .headerAdditionalList {
    &Item {
      a {
        &:hover {
          background-color: #0e0f16;
        }
      }
    }
  }
}
