.tabs {
  position: fixed;
  background-color: #fff;
  border-top: 1px solid #f0f0f0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 999;
  &Wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &Item {
    padding: 7px 20px;
    &Active {
      .tabsTitle {
        opacity: 1;
        visibility: visible;
        position: relative;
        margin-left: 5px;
      }
      .tabsLink {
        border-radius: 100px;
        background-color: #1890ff;
        color: #b9ddff;
        padding: 0 15px;
        &:hover {
          color: #b9ddff;
        }
      }
    }
  }
  &Title {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    transition: none;
    font-size: 12px;
  }
  &Link {
    color: #000;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0;
    transition: color none;
    transition: all .2s ease 0s;
    &:hover {
      color: #000;
    }
    svg {
      font-size: 25px;
      line-height: 25px;
    }
  }
}