.chat {
    &Title {
        background-color: #1890ff;
        padding: 13px 15px;
        color: #fff;
        position: relative;
    }

    &UserName {
        font-size: 16px;
        font-weight: 600;
        margin-left: 10px;
    }
}

.closeButton {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    color: #fff;
}