.match {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex: 1;
  font-size: 14px;
  line-height: 25px;
  background-color: transparent;
  width: 100%;
  border: none;
  border-bottom: 1px solid #efefef;
  border-radius: 0;
  cursor: pointer;
  padding: 8px 0;
  &:last-of-type {
    border-bottom: none;
  }
  &Info {
    width: 15%;
    font-size: 12px;
    line-height: 20px;
    &Status {
      text-align: center;
    }
  }
  &Teams {
    padding-left: 10px;
    width: 65%;
  }
  &Scores {
    width: 5%;
    text-align: center;
    font-weight: 500;
    &Life {
      color: #ed1c24;
    }
    &Regular {
      color: #2c2c2c;
    }
    &Winner {
      font-weight: bold;
    }
  }
  &Actions {
    width: 15%;
    text-align: right;
  }
  &Predicts {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #929292;
    .matchScoresRegular {
      color: #929292;
    }
  }
  &Team {
    text-align: left;
    font-weight: 400;
    &Winner {
      font-weight: bold;
    }
    &Logo {
      width: 20px;
      height: 20px;
      object-fit: contain;
      margin-right: 10px;
    }
  }
}
[data-theme="dark"] {
  .match {
    border-bottom-color: #22242c;
    &Team {
      color: #e1e1e6;
    }
    &Info {
      &Status {
        color: #e1e1e6;
      }
    }
    &Scores {
      &Regular {
        color: #e1e1e6;
      }
    }
    &Predicts {
      color: #aaaaac;
      .matchScoresRegular {
        color: #aaaaac;
      }
    }
    &Info {
      color: #e0e0e2;
    }
  }
}
